<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="AttolConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=PHI-DB-APP1.phi-networks.co.il)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME= prodallapp.phi-networks.co.il)));User Id=ATOLL_MRAT;Password=ATOLL_MRAT_P15;Persist Security Info=True;" providerName="System.Data.OracleClient"/>
    <add name="aradmin" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=PHI-DB-APP1.phi-networks.co.il)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME= PRODallapp.phi-networks.co.il)));User Id= ARADMIN;Password= ARADMIN;Persist Security Info=True;" providerName="System.Data.OracleClient" />
    <add name="gisOraConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=PHI-DB-APP1.phi-networks.co.il)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME= PRODallapp.phi-networks.co.il)));User Id= GISDATA;Password= GISDATA_P15;Persist Security Info=True;" providerName="System.Data.OracleClient" />
    <add name="QISConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=PHI-DB-APP2.phi-networks.co.il)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME= PRODORNA)));User Id=QIS;Password=QIS;Persist Security Info=True;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CURR_FDDCELL" value="select LOCATIONAREACODE,ROUTINGAREACODE,userlabel from QIS.CURR_FDDCELL"/>
    <add key="CURR_LTECELLS" value="select PHYSICALLAYERSUBCELLID,PHYSICALLAYERCELLIDGROUP,TAC,EUTRANCELLFDDID FROM CURR_LTECELLS"/>
    <add key="CURR_GSMCELL" value="select BCCHFREQUENCY,BCC,NCC,gsmcellname FROM CURR_GSMCELL"/>
  </appSettings>
</configuration>
